@font-face {
  font-family: 'text-bold';
  src: url('fonts/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'text-semiBold';
  src: url('fonts/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'text-regular';
  src: url('fonts/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src: url('fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title-medium';
  src: url('fonts/Lora-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'title-italic';
  src: url('fonts/Lora-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary-color: #EC0C7E;
  --padding: 16px;
  --font-size-menu: 16px;

  --color-background: #F6E3C8;
  --color-body: #FFFAF3;
  --color-text-white: #FFF6E9;

  --color-text-primary: #1B2259;
  --color-pink: #FFEBF0;

  --color-about-team-active: #E2DFFF;

  --button-color-disible: #818395;
  --button-color-bg-disible: #EDEDF4;
}

html {
  scroll-behavior: smooth;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 1120px;
}

.text-semiBold {
  font-family: 'text-semiBold';
}

.text-white {
  color: var(--color-text-white) !important;
}

.text-black {
  color: var(--color-text-primary)
}

body {
  background: var(--color-body);
  font-family: 'text-regular'
}

a {
  font-family: 'text-bold';
}

a.btn {
  font-family: 'text-bold';
  display: inline-flex;
  align-items: center;
  height: 40px;
}

a.btn i {
  font-size: 24px;
}



a.btn:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: solid 1px var(--primary-color);
}


h1,
h2 {
  font-family: 'title';
}


/******* EDIT BOOOTSTRAP *****/

.border-danger {
  border-color: var(--primary-color) !important;
}

.btn-danger {

  background: var(--primary-color);
}



/****** END ********/


/****** MENU MOBI ********/

.menu-mobile {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 80px;
  background: var(--color-body);
  display: none;
}

.menu-mobile.active {
  display: flex;
}

.menu-mobile ul {
 padding: 0;
}

.menu-mobile ul li a {

  color: var(--color-text-primary);
  text-decoration: none;
}

.menu-mobile ul li:last-child a {
  color: #fff;
}
.menu-mobile ul li:last-child a:hover {
  color: var(--color-text-primary);
}

.menu-mobile ul li {
  list-style-type: none;
  text-align: center;
  font-family: "text-bold";
  font-size: 24px;
  margin-bottom: 2rem;
  color: var(--color-text-primary);
}

.find-us {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid var(--color-text-primary);
  width: 100%;
}

.find-us p {
  font-size: 20px;
  font-family: "title-italic";
}

/****** END ********/
.menu {
  display: flex;
  list-style: none;
  align-items: flex-start;
  margin-bottom: 0;
  padding: 0;
}

.nav-item:last-child {
  margin-left: 2rem;
}

.menu-mobi-icon i {
  font-size: 25px;
  color: var(--primary-color);
}

.menu-link {
  text-decoration: none;
}

/******* HERO *****/

.hero-img {
  border: solid var(--color-body) 40px;
  border-left: 0;
  border-bottom: solid var(--color-body) 0;
  border-top: 0;
}

.hero-img img {
  border-radius: 16px;
  width: 100%;
}

.hero h2 {
  position: relative;
  width: 79%;
}

.hero h2::before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  background: url('image/icon-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: -30px;
  left: -20px;
}

/****** END ********/


/******* TRIPS *****/
.trips .container {
  background: var(--color-background);
  border-radius: 32px;
  padding: 72px;
}

.trips-banner {
  background-size: cover;
  background-position: top;
  border-radius: 1rem;
  height: 400px;
  margin-bottom: 40px;
}

.trips h2 {
  font-size: 32px;
  margin-bottom: 0;
}

.trips h4 {
  font-family: 'title-italic';
}


.trips-card a.btn {
  color: var(--color-text-primary);
}

.trips-card img {
  border-radius: 1rem;
}

.trips-card-image {
  height: 280px;
  /* bạn có thể điều chỉnh: 180px, 220px tùy thiết kế */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  /* bo góc nhẹ cho đẹp */
  
  /* màu nền nhẹ nếu ảnh có khoảng trống */
}

.trips-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.trips-card-content {
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.trips-card-content a i {
  font-size: 20px;
  height: 17px;
}

.trips-card-content .btn-outline-secondary {
  background: #fff;
  ;
}

.trips .col-md-4:nth-child(1),
.trips .col-md-4:nth-child(2),
.trips .col-md-4:nth-child(3) {
  margin-bottom: 30px;
}

.trips a.btn i {
  color: var(--primary-color);
}

.trips a.btn-outline-secondary {
  background: var(--button-color-bg-disible);
}

.trips a.btn-outline-secondary i {
  color: var(--button-color-disible);
}

.trips a.btn-outline-secondary:hover {
  color: var(--button-color-disible);
  border: 1px solid var(--button-color-disible);
}

.trips a.btn-outline-secondary:hover span {
  transform: unset;
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
}

/****** END ********/



/* CSS TEAM  */

.team h2 {
  font-size: 40px;
}

.team h4 {
  font-family: 'title-italic';
}

.team-wrapper {
  display: flex;
  justify-content: flex-start;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
}

.team-member img {
  width: 206px;
  height: auto;
  display: block;
}

.team-member {
  width: 48%;
  display: flex;
  justify-content: center;
}

.team-member img {
  transition: transform 0.5s ease-in-out;
}

.team-member:hover img {
  cursor: pointer;
  animation: floatHover 1.5s ease-in-out infinite;
}

@keyframes floatHover {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/****** END ********/


/* CSS STUDENT  */

.student .container {
  background: var(--color-background);
  border-radius: 32px;
  margin-bottom: 80px;
}

.student h2 {
  font-size: 40px;
  max-width: 79%;
  margin: 0 auto;
}

.student-infor {
  display: flex;
  align-items: stretch;
  /* Đảm bảo các cột có chiều cao bằng nhau */
}

.carousel-inner {
  border-radius: 1rem;
}

.student-infor .student-description {
  width: 60%;
  background: #FFF6E9;
  display: flex;
  align-items: center;
}

.student-infor .student-img {
  width: 40%;
}


.student-infor .student-img img {
  height: 100%;
  object-fit: cover;
}

#testimonialCarousel {
  max-width: 83%;
  margin: 0 auto;
}

.student-slide {
  position: relative;
}

.studen-quote {
  font-family: 'text-bold';
  font-size: 14px;
}

.student h4 {
  font-family: 'title-italic';
}

.button-bar {
  width: 116%;
  height: 100px;
  position: absolute;
  z-index: 999999999999999999999;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.student .carousel-indicators {

  position: relative;
}

.button-bar i {
  font-size: 25px;
}

.button-bar .carousel-control-prev,
.carousel-control-next {
  width: unset;
}

.carousel-indicators [data-bs-target] {
  height: 8px;
  width: 8px;
  background-color: #C8C8C8;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #000;
  width: 24px;
  border-radius: 24px;
}



/****** END ********/

/****** FOOTER ********/


footer {
  background: #1B2259;
}

footer p {
  font-size: 14px;
}

footer h4 a {
  text-decoration: none;
  font-family: 'text-bold';
}

footer h3 {
  font-family: 'title-italic';
  font-size: 32px;

}

footer input.form-control {
  height: 48px;
  background-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

footer input.form-control::placeholder {
  color: #fff;
}

footer button.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer button.btn:hover {
  color: var(--color-text-white);
  background-color: var(--primary-color);
}

.contact-section .form-control,
.contact-section .form-select {
  color: var(--color-text-white);
  border: 1px solid var(--color-text-primary);
}

.form-control:focus {
  background: transparent;
  color: var(--color-text-white);
}

/****** END ********/
.btn-cta {
  background-color: var(--color-text-primary);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
}

.btn-cta:hover {
  background-color: #002d99;
}



.text-pink {
  color: #e6007e;
}

.btn span {
  transition: transform 0.3s ease;
}

.btn:hover span {
  transform: translateX(5px);
}

.bg-footer {
  background-color: #1B1F5C;
}

/********************* ABOUTS *****************/

.values h1 {
  font-size: 48px;
}

.values h4 {
  font-family: 'title-italic';
}

.value {
  padding: 32px;
  border-radius: 24px;
}

.values .col-md-6:nth-child(1) .value,
.values .col-md-6:nth-child(3) .value {
  background: linear-gradient(to right, #E8E1F4 0%, #FFF6E9 100%);

}

.values .col-md-6:nth-child(2) .value,
.values .col-md-6:nth-child(4) .value {
  background: linear-gradient(to left, #E8E1F4 0%, #FFF6E9 100%);

}

.value img {
  height: 72px;
  width: 72px;
}

.abouts-teams h5 {
  font-family: 'text-semiBold';
  font-size: 14px;
}

.abouts-teams h2 {
  font-family: "title-medium";
  font-size: 40px;
}


.abouts-teams h3 {
  font-family: 'title-italic';
  font-size: 20px;
}

.abouts-teams,
.about-team-panel-wrap {
  background: var(--color-text-white);
}

.wrap-about-team {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

.about-team {
  width: 18%;
  border-radius: 24px;
  padding-bottom: 0 !important;
  background: var(--color-background);
  transition: all .1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.about-team:hover {
  cursor: pointer;
}

.about-team a:hover, .about-team a:focus {
  color: var(--color-text-primary);
}

.about-team.active {
  width: 44%;
  background: var(--color-about-team-active);
  display: flex;
  transition: all .1s;
  flex-direction: row;
  align-items: flex-end;
}

.about-team.active .about-team-content {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.about-team-content {
  width: 60%;
}

.about-team.active img {
  width: 40%;
  object-fit: cover;
}

.about-team.active .about-team-content-des {
  display: block;
}

.about-team .about-team-content-des {
  display: none;
}

.about-team.active img {
  height: 280px;
}

.about-team img {
  height: 195px;
  object-fit: cover;
  object-position: top;
}


.about-team h6 {
  font-family: 'title-italic';
  font-size: 20px;
  text-align: center;
}

.about-team.active h6 {
  text-align: left;
}

.about-team-content-des {
  text-align: left;
}

.about-team.active p.chucvu {
  margin-bottom: 10px;
}

p.chucvu {
  font-family: 'text-bold';
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.about-team.active p.chucvu {
  text-align: left;
}

.about-team-panel-wrap .container {
  height: 450px;
  margin-bottom: 72px;
  border-radius: 24px;
  background: var(--color-about-team-active);
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.about-team-panel {
  display: flex;
  /* giữ nguyên */
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  visibility: hidden;
  padding: 40px;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  display: none;
}

.about-team-panel-img {
  width: 35%;
  height: 350px;
}

.about-team-panel-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
  object-position: top;
  height: 100%;
}

.about-team-panel-content {
  width: 60%;
}

.about-team-panel-content p {}

.about-team-panel.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  visibility: visible;
  display: flex;
  left: 0;
}

.about-team-panel-content blockquote {
  font-size: 24px;
  font-family: "title";
}

/************* END *******************/


/************* SERVICES *******************/

.services .container,
.apply-support .container {
  max-width: 978px;
  margin: 0 auto;
  padding: 0;
}

.services h2 {
  font-family: "title-medium";
  font-size: 48px;
}

.services h3 {
  font-family: "title";
  font-size: 40px;
}

.services h4 {
  font-family: "title-italic";
}

.services-banner img,
.apply-support img {

  height: 235px;

  object-fit: cover;

  width: 100%;

  border-radius: 16px;
}

.services-banner-content h4,
.apply-support h4 {
  font-family: "text-bold";
}

.service-banner-content-bottom {
  background: var(--color-background);
  border-radius: 16px;
}

.service-banner-content-bottom h4 {
  font-family: "title-italic";
}

.apply-support h3 {
  font-family: "title";
}

.dacdiem {
  background: var(--color-pink);
  border-radius: 16px;
}

.dacdiem2 {
  background: var(--color-about-team-active);
}

.dacdiem h4,
.dacdiem2 h4 {
  font-family: "title-italic";
}

.not-found-section {
  background-image: url(image/banner-bottom-service.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 88px 0;
}

.not-found-section h2 {
  font-family: "title";
  font-size: 40px;
}

/************* END *******************/


/************* CONTACT *******************/
.contact-section h2 {
  font-size: 57px;
  font-family: "title-medium";
}

.contact-section h4 {
  font-family: "title-italic";
}

.contacts {
  background-color: var(--color-text-primary);
  border-radius: 16px;
  position: relative;
  height: 100%;
}

.contacts h3 {
  font-family: "title";
  font-size: 32px;
}

.contacts p {
  font-family: "text-regular";
}

.contacts i {
  margin-right: 12px;
}

.contact-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/************* END *******************/

/*************RESPONSIVE *******************/

@media(max-width:1280px) {
  .team-member img {
    width: 170px;
  }

  .trips .container {
    padding: 2rem;
    border-radius: 0;
  }
}

@media(max-width:992px){

  /************* TRANG CHU *******************/
  .hero-img {
    border: none;
  }

  .hero-img img {
    margin-bottom: 2rem;
}

  .py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }


  .hero h2::before {
    left: 0;
    top: -46px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p.text-black {
    font-size: 14px;
    margin-bottom: 0;
  }
  .trips-card-content {
    display: block;
    min-height: unset;
  }

  .trips-card-titles P {
    font-size: 12px;
  }

  .trips-card-content p {
    font-size: 14px;
  }

  .trips h2 {
    font-size: 20px;
  }

  .team-grid {
    justify-content: center;
  }

  .student-infor {
    flex-direction: column-reverse;
  }

  .student-infor .student-description {
    width: 100%;
  }

  .student-infor .student-img {
    width: 100%;
  }

  .student-infor .student-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  #testimonialCarousel {
    max-width: 100%;
    margin: 0 auto;
  }

  .student .container {
    border-radius: 0;
  }

  .student h2 {
    font-size: 24px;
  }

  .button-bar {
    display: none;
  }

  .carousel-inner {
    border-radius: 0.5rem;
  }

  .student .container {
    margin-bottom: 0;
  }

  .footer-menu h4:last-child {
    margin-bottom: 0;
  }


  /************* END *******************/

  /************* ABOUTS *******************/
  .values h1 {
    font-size: 32px;
  }

  .values h4 {
    font-size: 16px;
  }

  .value h4 {
    font-size: 20px;
  }

  .wrap-about-team {
    display: block;
  }

  .about-team.active {
    width: 100%;
    padding: 1.5rem !important;
    justify-content: space-between;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .about-team-content-des p {
    font-size: 12px;
    text-align: left;
  }

  p.chucvu {
    text-align: left;
  }

  .about-team h6 {
    font-size: 16px;
    text-align: left;
  }

  .about-team.active img {
    height: 196px;
  }

  .about-team {
    width: 100%;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }

  .about-team-panel {
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    position: unset;
  }

  .about-team-panel-img {
    width: 100%;
    height: 270px;
    margin-bottom: 1rem;
  }

  .about-team-panel-img img {
    object-position: top;

  }

  .about-team-panel-wrap .container {
    height: 100%;
  }

  .about-team-panel-content blockquote {
    font-size: 20px;
  }

  .about-team-panel-content {
    width: 100%;
  }

  .about-team.active .about-team-content {
    padding: 0;
    padding-bottom: 1.5rem;
  }

  /************* END *******************/

  /************* SERVICES *******************/
  .services h2 {
    font-size: 32px;
  }

  .services h4 {
    font-size: 20px;
  }

  .services .btn,
  .apply-support .btn,
  .not-found-section .btn {
    font-size: 13px;
  }

  .not-found-section h2 {
    font-size: 24px;
  }

  .not-found-section {
    padding: 50px 0;
  }

  .services h3,
  .apply-support h3 {
    font-size: 20px;
  }

  .services-banner-content h4,
  .apply-support h4 {
    font-size: 14px;
  }

  .dacdiem h4,
  .dacdiem2 h4 {
    font-family: "title-italic";
    font-size: 20px;
  }

  /************* END *******************/


  /************* CONTACT *******************/

  .contact-section h2 {
    font-size: 32px;
  }

  .contact-section h4 {

    font-size: 20px;
  }


  .contacts {
    height: 350px;
  }

  body.no-scroll {
    overflow: hidden;
  }
}


@media(max-width:768px){
  .hero-img img {
    margin-bottom: 0;
}    
}
